* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background-image: url("../IMG_20230422_150533213.jpg");
    background-position: center 0;
    background-size:cover;
    background-repeat: no-repeat;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #53cfe3;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666666;
}

#operations {
    text-align: right;
}

#previous-operation,
#current-operation {   
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
}

#previous-operation {
    color: #777;
}

#current-operation {
    font-size: 3em;
    font-weight: 700;
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
    
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 10px;
    height: 4em;
    font-size: 1.2em;
    background-color: #44b5d1;
    cursor: pointer;
}

#buttons-container .number {
    background-color: #f3f3f3;
}

#buttons-container button:hover {
    background-color: #bababa;
    border-color: #999;
}



#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #749dc0;
}

#buttons-container #equal-btn:hover {
    background-color: #3a91d8;
}